.nav-home {
  padding-left: 230px;
  padding-bottom: 5px;
  background-color: #0f1014;
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  line-height: 36.31px;
  text-align: left;
  margin: 0;
}

.nav-home .line {
  padding-top: 90px;
  border-bottom: 1.5px solid #ffffff1a;
}

.nav-icon {
  padding-top: 40px;
  margin-right: 10px;
  padding-left: 50px;
  color: #bfbfbf;
  font-size: 18px;
}

.nav-text {
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #bfbfbf;
}

.competition-summary {
  position: relative;
  margin-top: 40px;
  overflow-x: auto;
  width: 90%;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
}

.summary-table td {
  height: 50px;
  /* border: 1px solid rgb(255, 247, 247); */
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.06px;
  text-align: left;
}

.summary-table .trophy-icon {
  position: absolute;
  top: 70px;
  font-size: 25px;
  color: white;
  /* transform: translate(-50%, -50%); */
}

.competition {
  position: absolute;
  top: 145px;
  left: 130px;
  font-size: 25px;
  color: #ffffff;
  /* transform: translate(0%, 0%); */
}

.month-header {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 500;
  font-size: 145px;

  background: linear-gradient(
    112.23deg,
    #ffffff 33.41%,
    rgba(254, 254, 254, 0.31) 99.03%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.icon-1,
.icon-2,
.icon-3,
.icon-4 {
  margin-right: 10px;
  color: #4ecb71;
  width: 20px;
  height: 20px;
}

td span,
.table-row3 {
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 400;
  line-height: 21.06px;
  text-align: left;
  color: #ffffff;/
}

.searchbar {
  margin-top: 40px;
  padding-right: 500px;
}

.search {
  background: #0f1014;
  border-radius: 15px;
  border: 1px solid #bfbfbf80;
  width: 50%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  color: #bfbfbf;
}

.standings {
  color: #bfbfbf;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  text-align: left;
  margin-left: 20px;
}

.competition-table {
  margin-top: 20px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  color: #ffffff;
  font-family: Inter, sans-serif;

  text-align: left;
}

.competition-table {
  overflow-x: auto;
  width: 90%;
}

.competition-table tr {
  height: 80px;
}

.competition-table th,
.competition-table td {
  padding: 8px;
}

.competition-table th {
  text-align: left;
  border-bottom: 1px solid #ffffff1a;
}

.competition-table tr:nth-child(odd) {
  background-color: #0f1014;
}

.competition-table tr:nth-child(even) {
  background-color: #11781533;
}

.competition-table tr:hover {
  background-color: #11781421;
}

.my-table {
  width: 100%;
  border-collapse: collapse;
}

.competition-table td:first-child {
  border-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}

.competition-table td:last-child {
  border-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.flag-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.pagination {
  padding-left: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
}

.pagination a {
  color: #ffffff;
  padding: 8px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #009c24;
  border-radius: 10px;
  margin: 2px;
}

.pagination a.active {
  background-color: #009c24;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #009c24;
}

.pagination a:first-child,
.pagination a:nth-child(7),
.pagination a:last-child {
  border: none;
}

.pagination a:nth-child(7) {
  color: #009c24;
  font-size: 20px;
}
