@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  #sidebar {
    position: fixed;
    z-index: 10;
    width: 215px;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #0d0e12;
  }

  .logo {
    position: relative;
    padding: 20px;
    border-bottom: 1px dashed #1f212a;
    margin-bottom: 5px;
    box-sizing: border-box;
  }

  .logo img {
    width: 36.77px;
    height: 36.77px;
    margin-right: 10px;
  }

  .logo a {
    text-decoration: none;
    color: #008905;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: bold;
    font-size: 24.14px;
    line-height: 46px;
  }

  .sidebar-menu {
    border-top: 1px solid #ffffff1a;
    padding-top: 30px;
    height: calc(100% - 75px);
  }

  .sidebar-menu ul {
    list-style: none;
    padding: 0;
  }

  .sidebar-menu a {
    text-decoration: none;
    color: white;
    display: block;
    /* align-items: center; */
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9a9cae;
  }

  .side-icons {
    color: #008905;
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }

  .sidebar-menu a:hover {
    background-color: #1c1c21;
    color: #ffffff;
    border-radius: 6px;
  }

  .heading-line {
    background-color: #0f1014;
    padding: 46px;
    border-bottom: 1px solid #ffffff1a;
  }

  .heading-container {
    padding-left: 220px;
    padding-bottom: 5px;
    background-color: #0f1014;
    font-family: Inter;
    font-size: 30px;
    line-height: 36.31px;
    text-align: left;
  }

  .heading-trophy-icon {
    padding-top: 40px;
    padding-left: 25px;
    margin-right: 10px;
    color: #00ff38c7;
  }

  .heading-text {
    font-weight: bold;
    color: #ffffff;
  }

  .home-content {
    padding-left: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #0f1014;
    padding-bottom: 40px;
  }

  .card {
    margin: 0.5rem;
    border: 1px solid #0f1014;
    padding: 1rem;
    border-radius: 14px;
    max-width: 350px;
    background: linear-gradient(
      100.59deg,
      rgba(230, 237, 251, 0.61) -3.94%,
      rgba(14, 34, 29, 0.54) 103.5%
    );
  }

  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .card li {
    list-style-type: none;
    padding-right: 20px;
  }

  .card li .competition-month {
    color: #ffffff;
  }

  .card li .prize,
  .card li .contestants {
    /* list-style-type: none; */
    color: #bfbfbf;
  }

  .trophy-icon,
  .groups-icon {
    color: #4ecb71;
  }

  .competition-month {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 0.5rem;
  }

  .prize,
  .contestants {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }

  .icon {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .icon svg {
    margin-right: 0.5rem;
  }

  .card .prize {
    margin-bottom: 1rem;
  }

  .status {
    border: 1px solid #bfbfbf;
    color: #bfbfbf;
    font-size: x-small;
    align-content: center;
    padding-left: 3px;
    position: absolute;
    left: 83.5%;
    right: 5.67%;
    top: 15.22%;
    bottom: 77.17%;
  }
}
